.task {
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;

  &.pending {
    border-color: salmon;
  }
  &.completed {
    border-color: cadetblue;
  }
  &.cancelled {
    border-color: brown;
  }
}
